[submodule "trantor"]
	path = trantor
	url = https://github.com/an-tao/trantor.git
	branch = master
[submodule "third_party/zltoolkit"]
	path = third_party/zltoolkit
	url = https://github.com/chengxiaosheng/ZLToolKit
	branch = by_drogon
